{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "endOfLine": "crlf",
    "singleQuote": false,
    "printWidth": 120,
    

    "svelteSortOrder" : "options-scripts-styles-markup",
    "svelteStrictMode": false,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true
}